<h3>Assignment Details</h3>
<p>
  <h4>
    <b>Store</b>: <%= link_to @assignment.store.name, store_path(@assignment.store) %>
  </h4>
</p>

<% if !current_user.role?(:employee) %>
  <p>
    <b>Employee</b>: <%= link_to @assignment.employee.name, employee_path(@assignment.employee) %>
  </p>
<% end %>

<p>
  <b>Start date</b>: <%= @assignment.start_date.strftime("%m/%d/%y") %>
</p>

<% if !@assignment.end_date.nil? %>
  <p>
    <b>End date</b>: <%= @assignment.end_date.strftime("%m/%d/%y") %>
  </p>
<% end%>

<p>
  <b>Pay level</b>: <%= @assignment.pay_level %>
</p>