<h3>Assignment History</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Store</th>
      <th>Dates</th>
      <th class="centered">Pay Level</th>
      <th>&nbsp;</th>
      <% if can? :create, Assignment%>
        <th>&nbsp;</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.store.name, store_path(assignment.store) %></td>
        <td><%= assignment.start_date.strftime("%m/%d/%y") %>
          <% if !assignment.end_date.nil? %>
            &nbsp;-&nbsp;<%= assignment.end_date.strftime("%m/%d/%y") %>
          <% end %>
        </td>
        <td class="centered"><%= assignment.pay_level %></td>
        <td><%= link_to(assignment_path(assignment), class: 'button tiny radius') do %>
          &nbsp;View&nbsp;
        <% end %></td>
        <% if (can? :create, Assignment) & assignment.end_date.nil? %>
          <td><%= link_to(edit_assignment_path(assignment), class: 'button tiny radius warning') do %>
              &nbsp;End&nbsp;
          <% end %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @assignments, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>