<div class="row">
  <div class="small-7 columns">
    <%= render partial: "store_details" %>
  </div>
  <div class="small-5 columns">
    <%= render partial: "store_flavors" unless @current_flavors.empty? %>
    <% if (can? :create, StoreFlavor) & (@store.active) %>
        <%= link_to(new_store_flavor_for_store_path(@store.id), class: 'button radius') do %>
          &nbsp;<%= "Add Flavor" %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "store_options" %>