<%= simple_form_for @shift, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Shift</legend>

    <%= f.input :assignment_id, :label => "Shift For: ", :collection => Assignment.current.by_employee, label_method: lambda{|x| x.employee.proper_name}, value_method: :id, :include_blank => true, input_html: {class: "avg"} %>
    <%= f.input :date, :label => "Date", as: :string, :input_html => {:class => "avg datepicker"} %>
    <%= f.input :start_time, input_html: {class: "avg"} %>
    <%= f.input :notes, input_html: {class: "avg"} %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', shifts_path, :class => 'button alert radius' %>
    </div>
  </fieldset>
<% end %>