<% if shifts.empty? %>
  <p><em>There are no <%= state %> shifts at this time.</em></p>
<% else %>
  <h3><%= state.capitalize %> Shifts</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <% if current_user.role?(:admin) %>
          <th>Store</th>
        <% end %>
        <% if !current_user.role?(:employee) %>
          <th>Employee</th>
        <% end %>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <% if current_user.role?(:admin) %>
          <th>&nbsp;</th>
        <% end %>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% shifts.each do |shift| %>
        <tr>
          <% if current_user.role?(:admin) %>
            <td><%= link_to shift.assignment.store.name, store_path(shift.assignment.store) %></td>
          <% end %>
          <% if !current_user.role?(:employee) %>
            <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
          <% end %>
          <td><%= shift.date.strftime("%m/%d/%y") %></td>
          <td><%= shift.start_time.strftime("%I:%M %p") %></td>
          <td><%= shift.end_time.strftime("%I:%M %p") %></td>
          <% if can? :update, Shift %>
            <td><%= link_to(edit_shift_path(shift), class: 'button tiny radius warning') do %>
            &nbsp;Edit&nbsp;
            <% end %></td>
          <% end %>
          <td><%= link_to(shift_path(shift), class: 'button tiny radius') do %>
          &nbsp;View Shift&nbsp;
          <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>