<div class="row">
  <div class="small-7 columns">
    <%= render partial: "shift_details" %>
  </div>
  <div class="small-5 columns">
    <% if @shift_jobs.empty? %>
      <h3>No jobs have been added yet.</h3>
    <% else %>
      <%= render partial: "shift_job_history"%>
    <% end %>
    <% if can? :create, ShiftJob %>
      <%= link_to(new_shift_job_for_shift_path(@shift.id), class: 'button radius') do %>
        &nbsp;<%= "Add Job" %>
      <% end %>
    <% end %>
    &nbsp;&nbsp;
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "shift_options" %>